<body><div dir="rtl">
    <table border="0" cellpadding="0" cellspacing="0" class="mce-item-table" style="width:92%">
        <tbody>
            <tr>
                <td colspan="2" style="height:48px; vertical-align:top; width:100%">
                    <table border="0" cellpadding="5" cellspacing="0" class="mce-item-table" style="width:100%">
                        <tbody>
                            <tr>
                                <td style="background-color:#003f80; height:48px">
                                    <p><span style="color:#ffffff; font-family:Arial; font-size:large"><strong><span dir="RTL">כישלון הרצת תהליכי ${HAREL_CATEGORY_NAME}</span></strong></span></p>
                                </td>
                                <td style="background-color:#003f80; height:48px; vertical-align:top; width:108px">
                            </td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#d0d5db; height:14px; width:100%">&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color:#003f80; height:60px; vertical-align:top; width:12%">&nbsp;</td>
                <td style="background-color:#ffffff; height:60px; vertical-align:top">
                    <table border="0" cellpadding="16" cellspacing="0" class="mce-item-table" style="width:100%">
                        <tbody>
                            <tr>
                                <td style="background-color:#ffffff; height:60px; vertical-align:top">
                                    <p><span style="color:#black; font-family:Arial; font-size:medium"> שלום ,&nbsp;</span></p>

                                    <p dir="rtl" style="margin-left:0cm; margin-right:0cm">
                                        <span style="color:#black; font-family:Arial; font-size:medium"><b><span dir="RTL"></span>&nbsp;</b></span><br><br>
                                        <span dir="RTL" lang="HE" style="font-size:11pt"></span><span style="color:#black; font-family:Arial; font-size:medium"><b><span dir="RTL"></span></b><br>
                                    &nbsp;</span>
                                    </p>

                                    <p><span style="color:#black; font-family:Arial; font-size:medium">תהליך הרצה י ${job_name}/${build_number} נכשל.</span></p>
                                    <p><br><span style="color:#black; font-family:Arial; font-size:medium">   לפרוט המלא  ${blue_ocen_link}        </span></p>
                                    <p><br>
                                        <span style="color:#black; font-family:Arial; font-size:medium">SonarQube code analysis link ${sonarReportLink}</span></p>                                                       
                                    <p><br>
                                    </p>
                                    <p>
                                        <span style="color:#black; font-family:Arial; font-size:medium"><span dir="RTL">צוות Devops</span></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#d0d5db; height:10px; width:100%">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#ffffff; height:60px; vertical-align:top; width:100%"><img src="http://www.harel-net.co.il/files/images/logo.jpg"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>